<div class="banner" style="background-image:linear-gradient(-225deg, rgba(20,20,20,0.6) 0%, rgba(20,20,20,0.6) 50%), url('https://images.unsplash.com/photo-1462539405390-d0bdb635c7d1?ixlib=rb-0.3.5&s=69d06017b38c00c3318c63d1c9740846&auto=format&fit=crop&w=793&q=80');">
  <div class="banner-content">
    <h1 id="banner-typed-text"></h1>
      <%= link_to cocktails_path, class:"white-link" do %>
        <div class="icon-button">
          <i class="fas fa-glass-martini"></i>
        </div>
      <% end %>
  </div>
</div>
