<h1 class="text-center">All our amazing cocktails:</h1>

<div class="container">
  <div class="row">

      <% @cocktails.each do |cocktail|%>

          <div class="col-xs-12 col-sm-4">

            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
              <div class="card-description">
                <h2><%= cocktail.name %></h2>
                <p><%= cocktail.all_ingredients %></p>
              </div>
              <%= link_to "", cocktail_path(cocktail),class:"card-link" %>
            </div>
          </div>
      <% end %>
   </div>

</div>
