.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position-y: center;
}

.banner--little{
  height: 60vh;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.white-link {
  color: white;

  &:hover {
  color: white;
  text-decoration: none;
  }
}

.icon-button{
opacity: 0.8;
background-color: grey;
border-radius: 50%;
width: 60px;
height: 60px;
display: flex;
justify-content: center;
align-items: center;

  &:hover{
    cursor: pointer;
    opacity:1;
  }
}

.banner-content{
  display: flex;
  align-items: center;
  flex-direction: column;
}
